@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

@media screen and (min-width: 1400px) {
  .main-container {
    max-width: 1300px;
    width: 100%;
  }
}
.main-container {
  width: 100%;
}

@layer components {
  .nav_li {
    @apply cursor-pointer relative h-[30px] flex items-center;
  }

  .nav_li-hidden {
    @apply absolute w-auto py-2 top-8  border-[1px] border-[rgba(0,0,0,0.15)] hidden bg-white rounded text-[#212529];
  }
  .nav_li-link {
    @apply pl-7 py-1 hover:bg-gray-100 block pr-16 whitespace-nowrap;
  }
}
